<div class="card">
    <div class="card-img-wrapper">
        <img class="propImg" src="brat.jpg">
        <ul class="member-icons">
            <li>
                <button class="btn btn-primay"><i class="fa-solid fa-pen-to-square"></i></button>
            <li>
                <button class="btn btn-primay"><i class="fa-regular fa-address-book"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h1 class="price">{{ property?.Price }}</h1>
        <h2 class="type">{{ property?.Type }}</h2>
        <h2 class="name">{{ property?.Name }}</h2>
    </div>
</div>