<div class="row">
  <div class="col-6 m-auto">
    <div class="card">
      <div class="card-header">
        Login
      </div>

      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group col-12">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" required>
          </div>

          <div class="form-group col-12">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" required formControlName="password">
          </div>

          <div class="form-group col-12 mt-3">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">
              Login
            </button>
            <button class="btn btn-primary">
              Cancel
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>